header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

/* Styling for the navigation links */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    background-color: #555;
    border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000225;
  color: white;
}
.container {
  text-align: center;

  padding: 20px;
}
.obj-container { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.title {
  font-size: 36px;
  margin-bottom: 20px;
}
.names {
  font-size: 24px;
  margin-bottom: 40px;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images-list {
  display: block;
}

.image {

  background-color: #929090;
  margin: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: #007bff;
  color: #ffffff;
  border-color: #0056b3;
}

.image-with-text {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.image-with-text img {
  width: 400px;
  height: auto;
}

.image-with-text p {
  margin-top: 5px;
  font-size: 14px;
}
/* Styling for the image link */
.image-link {
  display: inline-block;
  text-decoration: none;

}

.image-link img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;

}
.meet-team {

  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  

}


