header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}
 p {
  font-size: 20px;
 }

/* Styling for the navigation links */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    background-color: #555;
    border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000225;
  color: white;
}
.container {
  text-align: center;


  padding: 20px;
}
.obj-container { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.content {
  font-size: 26px;
  margin-bottom: 20px;
}

.names {
  font-size: 24px;
  margin-bottom: 40px;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images-list {
  display: block;
}

.image {

  background-color: #929090;
  margin: 10px;
}

.button-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  width: 50%; /* Adjust width as needed */
  margin: 0 auto; /* Automatically center within the container */
}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #8C52FF;
  border-radius: 5px;
  color: #8C52FF;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #8C52FF;
  color: #272727;
  border-color: #8C52FF;
}

.image-with-text {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.image-with-text img {
  width: 400px;
  height: auto;
}

.image-with-text p {
  margin-top: 5px;
  font-size: 14px;
}
/* Styling for the image link */
.image-link {
  display: inline-block;
  text-decoration: none;

}

.image-link img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;

}
.meet-team {

  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  
}

/* Sliding image display*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}


.pdf-container {
  width: 100%; /* Set PDF container to 100% width */
  display: none;
  margin-top: 10px;
}

text-content {
  width: 50%;

}
